<!DOCTYPE html>
<html>
<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <title>SocialNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='body-member'>

  <header>
      <h1>Gamers Network</h1>
      <nav class='roboto-font bold'>
        <%= link_to 'Posts', posts_path, method: :get%>
        <%= link_to 'Games', games_path, method: :get%>
        <%= link_to 'Users', users_path, method: :get%>
        <%= link_to 'Friends', friends_path, method: :get%>
      </nav>
   </header>

<nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
  <div class="navbar-toggler animate">
    <span class="menu-icon"></span>
  </div>
  <ul class="navbar-menu animate">
    <li>
      <%= link_to user_path(current_user), method: :get do %>
        <span class="desc animate"> My account </span>
        <span class="glyphicon glyphicon-user"></span>
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_registration_path, method: :get do %>
        <span class="desc animate"> Edit account </span>
        <span class="fa fa-pencil"></span>
      <% end %>
    </li>
    <li>
      <%= link_to user_games_path(current_user), method: :get do %>
        <span class="desc animate"> My games </span>
        <span class="fa fa-gamepad"></span>
      <% end %>
    </li>
    <li>
    <%= link_to new_user_game_path(current_user), method: :get do %>
      <span class="desc animate"> Add game </span>
      <span class="fa fa-plus"></span>
    <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="desc animate"> Logout </span>
        <span class="glyphicon glyphicon-log-out"></span>
      <% end %>
    </li>
</nav>
</div>
<div class="container wrap nopadding bg-white">


        <div id="DivMain" class="col-md-9 nopadding fill  bg-white"> 
            <div class="col-md-12 header">
              <h3><%=@header%></h3>
            </div>


           
           <div class='yield'>
              <%= flash_messages %>
             <%=yield%>
           </div>
        </div>



        <div class='col-md-3 nopadding sidebar-right fill'>
          <div class="col-md-12 header-right">
            <h3>Social box</h3>
          </div>     

    
            <div id="social">

              <%= render "friendships/friend_requests" %>
              <%= render "conversations/conversations" %>
              <%= render "friendships/friends" %>

            </div>

        </div>
</div>


</body>

</html>

<% Conversation.involving(current_user.id).each do |conversation| %>
   <%= subscribe_to conversation_path(id: conversation.id)%>
<% end %>  
<%= subscribe_to user_path(id: current_user.id) %>
